body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f7f6;
  color: #333;
}

header {
  background: #6fa3a1;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #6fa3a1;
}

.botao {
  display: inline-block;
  background: #6fa3a1;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #ddd;
  padding: 15px;
}
